html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif; font-size: 14px;
	background-color: #CCC;
}

h3 {
	position: absolute;
	margin: 5px;
	font-family: sans-serif;
	z-index: 5;
}

h6 {
	position: absolute;
	margin: 5px;
	top: 25px;
	font-family: serif; font-size: 14px;
	z-index: 6;
}

#map-canvas {
	height: 100%;
	z-index: 1;
}

#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}


#search {
	position: absolute; 
	top: 35px; 
	left: 5px; 
	z-index: 99;
	margin: 5px;
	padding: 5px;
	border: 1px;
}

#list-view {
	position: absolute; 
	height: 400px;
	width: 233px;
	top: 60px; 
	left: 5px;
	z-index: 99;
	margin: 5px;
	padding: 5px;
	border: 1px solid #CCC;
	overflow-y:hidden;
	overflow-x:hidden;
}

#list-view.select{ width: 100%; height: 80em; }

.heading {
	font-size: 16px;
	font-weight: bold;
}

form {
    font-size: 12px;
    font-family: Sans-Serif;
    display: inline-block;
}

#output {
	position: absolute;
	top: 455px;	
	left: 6px;
	margin: 5px;
	padding: 5px;
	height: 725px;
	background: white;
	width: 221px;
	border: 10px;
	padding: 5px;
	z-index: 2;
}

/* Styles from real estate project */

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    float:right;
    width:33.33%;
    padding:10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.7);
}

.nytimes-container {
    padding: 10px;
    margin-right:300px;
    background-color: rgba(255,255,255,0.7);
    width: 33.33%;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}
